<% if @questions != nil %>
<div class="container border">
	<form action='<%= lesson_assessments_path %>' method="post">
		<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
		<input type='hidden' value='<%= @questions.first.assessment.id %>' name='assessment_id_<%= @questions.first.assessment.id %>'>
		<% @questions.each do |question| %>
		<h4><%= question.question %> (correct answer is : <%= question.correct_letter %> : <%= question.correct_answer %>)</h4>
		<label hidden for='question_id_<%= question.id %>'></label>
		<% if question.assessment_options.length > 0 %>
		<div class='list-group'>
			<% question.assessment_options.each do |option| %>
			<a class='list-group-item list-group-item-action'>
				<%= option.letter %> <%= option.answer %><input type='radio' name='question_id_<%= question.id %>' value='option_id_<%= option.id %>' id='option_id_<%= option.id %>' required="required">
			</a>
			<% end %>
		</div>
		<% end %>
		<% end %>
		<input type='submit' value='Envoyer !' class='btn btn-success mb-3'>
	</form>
</div>
<% else %>
<p>Oups on dirait que vous avez atteri ici par erreur :(</p>
<% end %>


<%= javascript_include_tag 'assessment_new.js', type: 'text/javascript'%>