<section class="slice-lg has-bg-cover bg-size-cover" style="background-image: url(../../assets/images/backgrounds/slider/img-52.jpg); background-position: bottom center;">
  <div class="container">
    <div class="row justify-content-center cols-xs-space">
      <div class="col-lg-6">
        <div class="form-card form-card--style-2 z-depth-2-top">
          <div class="form-header text-center">
            <div class="form-header-icon">
                <i class="icon ion-log-in"></i>
            </div>
          </div>
          <div class="form-body">
            <div class="text-center px-2">
                <h4 class="heading heading-4 strong-400 mb-4">Reconfirmation password</h4>
            </div>
                <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>

                  <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
                  </div>

                  <div class="actions">
                    <%= f.submit "Resend confirmation instructions", class: "btn btn-styled  btn-base-1 mt-4"  %>
                  </div>
                <% end %>

                <%= render "devise/shared/links" %>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>