  <section class="slice-lg has-bg-cover bg-size-cover" >
    <div class="container">
      <div class="row justify-content-center cols-xs-space">
        <div class="col-lg-6">
          <div class="form-card form-card--style-2 z-depth-2-top">
            <div class="form-header text-center">
              <div class="form-header-icon">
                  <i class="fas fa-user-edit"></i>
              </div>
            </div>
            <div class="form-body">
              <div class="text-center px-2">
                  <h4 class="heading heading-4 strong-400 mb-4">Sign up to your account</h4>
              </div>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                <div class="form-control form-control-xl mb-4">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <p><%= f.label :first_name %><br />
                          <%= f.text_field :first_name %></p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <p><%= f.label :last_name %><br />
                          <%= f.text_field :last_name %></p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <%= f.radio_button :gender, 'female', :checked => true %>
                      <%= label :gender, 'Female' %>
                      <%= f.radio_button :gender, 'male' %>
                      <%= label :gender, 'Male' %>
                    </div>
                  </div>

                  <p><%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>

                  <p><%= f.label :password %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password" %></p>

                  <p><%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password" %></p>

                    <div class="action">
                      <%= f.submit "Create your account", class: "btn btn-styled  btn-base-1 mt-4" %>
                    </div>
                    <!--<button type="submit" class="btn btn-styled  btn-base-1 mt-4">
                      Register
                    </button>-->
                </div>
                <% end %>

                <%= render "devise/shared/links" %>
                </div>
              </div>
            </div>
          </div>
        </div>
  </section>
