<div class="section-title section-title--style-2 text-center mb-4">
  <h3 class="section-title-inner heading-2 strong-400">
    <span>My profile</span>
  </h3>
</div>


<div class="container bootstrap snippet">

  <div class="row">
    <div class="col-sm-3"><!--left col-->

      <div class="row ">
        <div class="col-sm-10"><h3 ><%= @user.first_name + " " +  @user.last_name.upcase %></h3></div>
      </div>
      <div class="text-left ">
        <div class="pb-0.5">
          <%= image_tag(@user.avatar , alt: 'avatar',  width: 200) if @user.avatar.attached?  %>
        </div>
        <br>
        <h3>Level : <%= @user.level.niveau if @user.level.present? %></h3>
        <h5><%= @user.email %></h5>
        <h5>wrote <%= @user.thredded_user_detail.posts_count %> posts</h5>
        <h5>gender : <%=@user.gender %> </h5>
        <p>created at : <%=@user.created_at %> </p>
        <%= link_to( "Edit profile", edit_user_registration_path, class: "btn btn-primary btn-lg btn-block", style: "font-size: 1.25em") %>
      </div><br>
    </div><!--/col-3-->
    <div class="col-sm-9">
      <h3>My stats</h3>
      <hr />

      <div class="tab-pane" id="stats">


        <h4>Passed tests - level A1 : <%=@average_passed_tests_A1%>%</h4>
        <div class="progress">
          <div class="progress-bar bg-primary" role="progressbar" style="width: <%=@average_passed_tests_A1%>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%=@average_passed_tests%></div>
        </div>
        <br>
        <h4>Passed tests - level A2 : <%=@average_passed_tests_A2%>%</h4>
        <div class="progress">
          <div class="progress-bar bg-primary" role="progressbar" style="width: <%=@average_passed_tests_A2%>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%=@average_passed_tests%></div>
        </div>
        <br>
        <h4>Passed tests - level B1 : <%=@average_passed_tests_B1%>%</h4>
        <div class="progress">
          <div class="progress-bar bg-primary" role="progressbar" style="width: <%=@average_passed_tests_B1%>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%=@average_passed_tests%></div>
        </div>
        <br>
        <h4>Passed tests - level B2 : <%=@average_passed_tests_B2%>%</h4>
        <div class="progress">
          <div class="progress-bar bg-primary" role="progressbar" style="width: <%=@average_passed_tests_B2%>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%=@average_passed_tests%></div>
        </div>
        <br>
        <h4>Passed tests - all level : <%=@average_passed_tests_total%>%</h4>
        <div class="progress">
          <div class="progress-bar bg-warning" role="progressbar" style="width: <%=@average_passed_tests_total%>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%=@average_passed_tests%></div>
        </div>
        <br>
        <h4>Average score : <%=@average_result%>%</h4>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: <%=@average_result%>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br><br><br><br><br><br>
      </div><!--/col-9-->
    </div><!--/row-->
  </div>
</div>
</div>
