<div class="section-title section-title--style-2 text-center mb-4">
  <h3 class="section-title-inner heading-2 strong-400">
    <span>My Courses</span>
  </h3>

  <section class="slice sct-color-1">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="text-center">
            <div class="heading heading-2 strong-600 line-height-1_8">
              Are you ready to improve your French ?

            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- CHOISIR AFFICHAGE NIVEAU -->


  <script>
    $(document).ready(function(){
      $("#levelA1").click(function(){
        $(".levelA2").hide();
        $(".levelB1").hide();
        $(".levelB2").hide();
        $(".levelA1").show();
      });
    });

    $(document).ready(function(){
      $("#levelA2").click(function(){
        $(".levelA1").hide();
        $(".levelB1").hide();
        $(".levelB2").hide();
        $(".levelA2").show();
      });
    });

    $(document).ready(function(){
      $("#levelB1").click(function(){
        $(".levelA1").hide();
        $(".levelA2").hide();
        $(".levelB2").hide();
        $(".levelB1").show();
      });
    });

    $(document).ready(function(){
      $("#levelB2").click(function(){
        $(".levelA1").hide();
        $(".levelA2").hide();
        $(".levelB1").hide();
        $(".levelB2").show();
      });
    });

    $(document).ready(function(){
      $("#levelAll").click(function(){
        $(".levelA1").show();
        $(".levelA2").show();
        $(".levelB1").show();
        $(".levelB2").show();
      });
    });
  </script>

  <section class="sct-color-1">
    <div class="container">
      <div class="masonry-filter-menu link-menu link-menu--style-3 text-center">
        <%= link_to "Show all", 'javascript:;', id: "levelAll", class: 'btn-filter default' %>
        <!-- <a class="btn-filter default" id="levelAll">Show all</a> -->
        <% @levels.each do |level| %>
        <%= link_to "#{level.niveau} #{level.level_description}", 'javascript:;', id: "level#{level.niveau}" ,class: 'btn-filter' %>
        <% end %>
<!--         <a class="btn-filter" id="levelA1">A1 NEWBIE</a>
        <a class="btn-filter" id="levelA2">A2 ELEMENTARY</a>
         <a class="btn-filter" id="levelB1">B1 INTERMEDIATE</a>
         <a class="btn-filter" id="levelB2">B2 ADVANCED</a> -->
       </div>
     </div>

     <div class="container mt-5">
      <span class="delimiter delimiter--style-1"></span>
    </div>
  </section>

  <% @levels.order(niveau: :asc).each do |current_level| %>
  <% lessons_array = Lesson.where(level_id: current_level.id) %>
  <div class="level<%= current_level.niveau %>">
    <div class="col-wrapper--spaced text-center animate-on-scroll fadeInDown">
      <div class="btn btn-base-4" style="pointer-events: none"><%= current_level.niveau %> <%= current_level.level_description %></div>
    </div>
    <section class="sct-color-1" id="sct_timeline" data-cat="level<%= current_level.niveau %>">
      <div class="container">
        <div class="timeline">
          <% lessons_array.each do |lesson| %>
          <div class="timeline-block">
            <span class="timeline-img"></span>
            <div class="timeline-content border-0">

              <div class="icon-block icon-block--style-2-v2 text-center">
                <a href="<%= lesson_path(lesson.id) %>"><div class='block-icon rounded'><i class='<%=lesson.icone%>'></i> </div>
                <h2 class="heading heading-6 strong-600"><%= lesson.title %></h2></a>
                <p class="px-2">
                </p>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </section>
  </div>
  <% end %>


