<div class="section-title section-title--style-2 text-center mb-4">
  <h3 class="section-title-inner heading-2 strong-400">
    <span>My vocabulary</span>
  </h3>
</div>

<script>
  $(document).ready(function(){
    $("#levelA1").click(function(){
      $(".levelA2").hide();
      $(".levelB1").hide();
      $(".levelB2").hide();
      $(".levelA1").show();
    });
  });

  $(document).ready(function(){
    $("#levelA2").click(function(){
      $(".levelA1").hide();
      $(".levelB1").hide();
      $(".levelB2").hide();
      $(".levelA2").show();
    });
  });

  $(document).ready(function(){
    $("#levelB1").click(function(){
      $(".levelA1").hide();
      $(".levelA2").hide();
      $(".levelB2").hide();
      $(".levelB1").show();
    });
  });

  $(document).ready(function(){
    $("#levelB2").click(function(){
      $(".levelA1").hide();
      $(".levelA2").hide();
      $(".levelB1").hide();
      $(".levelB2").show();
    });
  });

  $(document).ready(function(){
    $("#levelAll").click(function(){
      $(".levelA1").show();
      $(".levelA2").show();
      $(".levelB1").show();
      $(".levelB2").show();
    });
  });
</script>




<div class="dropdown" style="padding-right: 20px">
  <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <% if user_signed_in? && current_user.avatar != nil %>
    <%= image_tag(current_user.avatar , alt: 'avatar', height: 50, width: 50, class: 'rounded-circle') if current_user.avatar.attached?  %>
    <%= current_user.first_name %> <%= current_user.last_name %>
    <% elsif user_signed_in? %>
    <%= current_user.first_name %> <%= current_user.last_name %>
    <%else%>
    Sign_in/Sign_up
    <% end %>
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <% if user_signed_in? %>
    <% if user_signed_in? && current_user.is_admin? %>
    <%= link_to 'Administration', admin_root_path, class: "dropdown-item text-danger", target: "_blank" %>
    <% end %>
    <%= link_to 'Profile', user_path(current_user.id), class: "dropdown-item" %>
    <div class="dropdown-divider" role="presentation"></div>
    <a class="dropdown-item" href="<%= destroy_user_session_path %>" data-method="DELETE">Logout</a>
    <% else %>
    <%= link_to 'Sign up', new_user_registration_path, class: "dropdown-item" %>
    <%= link_to 'Login', new_user_session_path, class: "dropdown-item" %>
    <% end %>
  </div>
</div>







<div class="text-center">
  <h6><i class="fas fa-info-circle"></i> Click on the flash card to flip it and discover the translation</h6>
</div>

<section class="slice sct-color-1">
  <div class="container">
    <div class="row cols-xs-space cols-sm-space cols-md-space card-flip-container">

      <%= link_to "Show all", 'javascript:;', id: "levelAll", class: 'btn-filter default' %>
      <!-- <a class="btn-filter default" id="levelAll">Show all</a> -->
      <% @levels.each do |level| %>
      <%= link_to "#{level.niveau} #{level.level_description}", 'javascript:;', id: "level#{level.niveau}" ,class: 'btn-filter' %>
      <% end %>
      <% if user_signed_in? %>


      <% @levels.order(niveau: :asc).each do |current_level| %>
      <% vocabularies_array = @vocabularies.select {|vocabulary| vocabulary.lesson.level == current_level} %>
      <div class="level<%= current_level.niveau %>">

        <% @vocabularies.each do |vocabulary| %>
        <div class="col-lg-4 mb-3">
          <div class="card-flip" data-flip-trigger="click">
            <div class="card-front">
              <div class="card-image">
                <img src="https://images.pexels.com/photos/625219/pexels-photo-625219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
              </div>
              <div class="card-body card-body--overlay d-flex align-items-center">
                <div class="card-body-inner text-center">
                  <h3 class="heading heading-inverse heading-3 strong-600 text-capitalize"><%= vocabulary.word %></h3>
                </div>
              </div>
            </div>

            <div class="card-back bg-base-1">
              <div class="card-body card-body--overlay d-flex align-items-center">
                <div class="card-body-inner text-center">
                  <a href="" class="link link-sm link--style-4 link--bb text-uppercase ls-2 strong-600"><%=vocabulary.traduction%></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%end%>
        <%end%>

      </div>
    </div>
  </div>

</section>
