<!DOCTYPE html>
<html>
  <head>
    <title>Bibimbapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application.css', type: 'text/css'%>
    <%= javascript_include_tag 'application.js', type: 'text/javascript'%>

    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bf77c3f20d.js"></script>
    <link rel="icon" type="image/png" href="<%= asset_path('presentation/favicon.png')%>" />
  </head>
    <body>
      <div class="head">

    <%= render 'layouts/header' %>
    <%= render 'layouts/flash'%>

  </div>
    <div class="site-content">

      <%= yield %>
    </div>
    <div class="foot">

    <%= render 'layouts/footer'%>

  </div>
  </body>
</html>